{% extends 'base.html' %}

    {% block css %}
    <link rel="stylesheet" href="/static/css/about.css">

    {% endblock %}

    {% block content %}

     <section id="team">
        <div class="container">
            <div class="section-header">
                <h3>Team</h3>
                <p>We have hard working team members . Every team member have a special skills.</p>
            </div>

            <div class="row">




                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="member">
                        <img src="/static/img/team_member/pawan1.jpeg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Pawan Kumar</h4>
                                <span>Full Stack Web Developer</span>
                                <div class="social">
                                    <a href="https://www.linkedin.com/in/pawan941394/" target="__blank"><i class="fa fa-linkedin"></i></a>
                                    <a href="https://www.instagram.com/pawan941394/" target="__blank"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="member">
                        <img src="/static/img/team_member/abhishek.png" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Abhishek S Visht</h4>
                                <span>web Designer</span>
                                <div class="social">
                                    <a href="www.linkedin.com/in/abhishek-s-visht-421377167" target="__blank"><i class="fa fa-linkedin"></i></a>
                                    <a href="https://www.instagram.com/p/CLewvmsFUsn/?igshid=tv29c0tj4ybo" target="__blank"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="/static/js/main.js"></script>
{% endblock %}
