{% extends 'base.html' %}

    {% block css %}
    <link rel="stylesheet" href="/static/css/services.css">
  <link rel="stylesheet" href="/static/css/about.css">
    {% endblock %}

    {% block content %}

    <section id="intro" class="clearfix">
        <div class="container">


            <div class="intro-info">

                <h2>Get The Latest Automatic Tweets here!</h2>
                <div>
                    <a href="/tweets" class="btn-get-started scrollto">Get Started</a>
                </div>
            </div>

        </div>
    </section>


    <section id="why-us" class="wow fadeIn">
        <div class="container">
            <header class="section-header">
                <h3>Why choose us?</h3>
                <p>We are the best and provide you best Tweets and blogs here . </p>
            </header>

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">274</span>
                    <p>Reader + per hour </p>
                </div>



                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">10,364</span>
                    <p>Happy Reader</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">2</span>
                    <p>Hard Workers</p>
                </div>

            </div>

        </div>
    </section>

    <section id="clients" class="section-bg">

        <div class="container">

            <div class="section-header">
                <h3>Our Partners</h3>
            </div>

            <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="/static/img/clients/client-1.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="/static/img/clients/client-2.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="/static/img/clients/client-3.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="/static/img/clients/client-4.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="/static/img/clients/client-5.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="/static/img/clients/client-6.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="/static/img/clients/client-7.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="/static/img/clients/client-8.png" class="img-fluid" alt="">
                    </div>
                </div>

            </div>

        </div>

    </section>
{% endblock %}
