    * {
        margin: 0;
        padding: 0;
    }
    
    html,
    body {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    
    .file {
        margin-top: 53px;
    }
    
    .guide-registeration {
        background: azure;
        color: #435160;
        font-family: "Open Sans", sans-serif;
    }
    
    .guide-registeration h2 {
        color: black;
        font-family: "Sofia", cursive;
        font-size: 15px;
        font-weight: bold;
        font-size: 3.6em;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .guide-registeration a {
        color: #435160;
        text-decoration: none;
    }
    
    .guide-registeration .login {
        width: 350px;
        position: relative;
        top: 10%;
        left: 50%;
        margin-left: -175px;
        padding-top: 27vh;
        padding-bottom: 12vh;
    }
    
    .guide-registeration input[type="text"],
    .guide-registeration input[type="password"] {
        width: 350px;
        padding: 20px 0px;
        background: transparent;
        border: 0;
        border-bottom: 1px solid #435160;
        outline: none;
        color: #6D7781;
        font-size: 16px;
    }
    
    .guide-registeration input[type=checkbox] {
        display: none;
    }
    
    .guide-registeration label {
        display: block;
        position: absolute;
        margin-right: 10px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: transparent;
        content: "";
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        border: 3px solid #435160;
    }
    
    .guide-registeration #agree:checked~label[for=agree] {
        background: #435160;
    }
    
    .guide-registeration input[type="submit"] {
        background: #1FCE6D;
        border: 0;
        width: 350px;
        height: 40px;
        border-radius: 3px;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
        margin-top: 16px;
    }
    
    .guide-registeration input[type="submit"]:hover {
        background: #16aa56;
        animation-name: shake;
    }
    
    .guide-registeration .forgot {
        margin-top: 30px;
        display: block;
        font-size: 11px;
        text-align: center;
        font-weight: bold;
    }
    
    .guide-registeration .forgot:hover {
        margin-top: 30px;
        display: block;
        font-size: 11px;
        text-align: center;
        font-weight: bold;
        color: #6D7781;
    }
    
    .guide-registeration .agree {
        padding: 30px 0px;
        font-size: 12px;
        text-indent: 25px;
        line-height: 15px;
    }
    
     ::-webkit-input-placeholder {
        color: #435160;
        font-size: 12px;
    }
    
    .guide-registeration .animated {
        animation-fill-mode: both;
        animation-duration: 1s;
    }
    
    #file {
        position: absolute;
        font-size: 11px;
        margin-left: 13px;
        margin-top: 4px;
    }
    
    .fileupload {
        margin-top: 21px;
    }
    
    @media only screen and (max-width:402px) {
        .guide-registeration input[type="text"],
        .guide-registeration input[type="password"] {
            width: 274px;
            display: flex;
            margin: auto;
        }
        .fileupload {
            display: flex;
            margin: auto;
            margin-top: 21px;
            margin-left: 31px;
        }
        #file {
            position: absolute;
            font-size: 11px;
            margin-left: 105px;
            margin-top: 4px;
        }
        .guide-registeration input[type="submit"] {
            width: 267px;
            margin: auto;
            margin-top: 13px;
            margin-left: 12%;
        }
    }
    
    @keyframes shake {
        0%,
        100% {
            transform: translateX(0);
        }
        10%,
        30%,
        50%,
        70%,
        90% {
            transform: translateX(-10px);
        }
        20%,
        40%,
        60%,
        80% {
            transform: translateX(10px);
        }
    }